.form-container{
  max-width: 1000px;
  background: white;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.div-table{
  height: 100%;
  margin-top: 10%;
}
